<footer>
    <div>
        <div>
            <h5>About</h5>
            <p>Veterinary System</p>
        </div>
    </div>
    <div>
        <div>
            © My Transformation Systems 2021
        </div>
    </div>
</footer>

@code {
    
}