@inject ILocalStorageService localStorage
@inject IAvatarService avatarService

<div class="navigation">
    <NavLink href="/session/profile" Match="NavLinkMatch.All" class="no-style">
        <img src="@avatarPath" alt="avatar" class="medium-uniform-polygon medium-white-border" />
    </NavLink>
    <h2 class="text-center">Sections</h2>
    <NavLink href="/index" Match="NavLinkMatch.All">
        <i class="fas fa-home"></i> Home
    </NavLink>
    <NavLink href="/employees" Match="NavLinkMatch.All">
        <i class="fas fa-user"></i> Employees
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-users"></i> Customers
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-paw"></i> Pets
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-concierge-bell"></i> Services
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-shopping-cart"></i> Sales
    </NavLink>
    <NavLink href="/sign-out" Match="NavLinkMatch.All">
        <i class="fas fa-sign-out-alt"></i> Logout
    </NavLink>
</div>

@code {
    private string avatarPath;

    protected override async Task OnInitializedAsync()
    {
        avatarPath = await localStorage.GetItemAsync<string>("avatar");

        if (String.IsNullOrEmpty(avatarPath))
        {
            var avatar = await avatarService.GetAsync();
            avatarPath = avatar.Path;
        }
    }
}
