@inject ILocalStorageService localStorage

<div class="navigation">
    <NavLink href="/session/profile" Match="NavLinkMatch.All" class="no-style">
        <img src="@avatar" alt="avatar" class="medium-uniform-polygon medium-white-border" />
    </NavLink>
    <h2 class="text-center">Sections</h2>
    <NavLink href="/index" Match="NavLinkMatch.All">
        <i class="fas fa-home"></i> Home
    </NavLink>
    <NavLink href="/employees" Match="NavLinkMatch.All">
        <i class="fas fa-user"></i> Employees
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-users"></i> Customers
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-paw"></i> Pets
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-concierge-bell"></i> Services
    </NavLink>
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fas fa-shopping-cart"></i> Sales
    </NavLink>
    <NavLink href="/sign-out" Match="NavLinkMatch.All">
        <i class="fas fa-sign-out-alt"></i> Logout
    </NavLink>
</div>

@code {
    private string avatar;

    protected override async Task OnInitializedAsync()
    {
        avatar = await localStorage.GetItemAsync<string>("avatar");
    }
}
