@page "/index"
@attribute [Authorize]
@inject ILocalStorageService localStorage
@inject IEmployeeService employeeService
@inject IAvatarService avatarService

<IndexHeader></IndexHeader>
<div class="row">
    <Nav></Nav>
    <div class="small-padding background-index">
        <h2><i class="fas fa-paw"></i>
            Welcome again. Don't forget to do a good job
        </h2>
        <h4><i class="fas fa-cat"></i>
            Saturn - Acapulco Branch Office
        </h4>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var profile = await employeeService.GetAsync();
        var avatar = await avatarService.GetAsync();

        await localStorage.SetItemAsync("name", $"{profile.Name} {profile.LastName}");
        await localStorage.SetItemAsync("avatar", avatar.Path);
    }
}
