@page "/index"
@attribute [Authorize]

<div class="row">
    <Nav></Nav>
    <div class="front-background small-padding">
        <h2><i class="fas fa-paw"></i>
            Welcome again. Don't forget to do a good job
        </h2>
        <h4><i class="fas fa-sun"></i>
            Acapulco Branch Office - Hospital Veterinary
        </h4>
    </div>
</div>