@page "/"
@inject IAuthService authService
@inject NavigationManager navigationManager

<div class="row">
    <div class="large-hight">
        <ErrorBoundary>
            <ChildContent>
                <EditForm EditContext="editContext" OnValidSubmit="HandleSignIn">
                    <DataAnnotationsValidator />

                    <div id="auth-form" class="box-3 large-hight">
                        <h2 class="text-center border-bottom-tiny padding-bottom-tiny">Authenticate</h2>
                        <div>
                            <label for="employee_number" class="form-label">Email</label>
                            <InputText type="text" placeholder="direction@example.com" class="form-input" id="employee_number" @bind-Value="credentials.Email" />
                        </div>
                        <div>
                            <label for="password" class="form-label">Password</label>
                            <InputText type="password" placeholder="secret" class="form-input" id="password" @bind-Value="credentials.Password" />
                        </div>
                        <div class="content-center middle-width">
                            <button type="submit" class="form-button dark-background white-text">Submit</button>
                        </div>
                    </div>
                </EditForm>
            </ChildContent>
            <ErrorContent Context="ex">
                <div class="box-error">
                    <p>@ex.Message</p>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </div>
    <div class="small-padding background-index">
        <h2><i class="fas fa-paw"></i>
            Welcome again. Don't forget to do a good job
        </h2>
        <h4><i class="fas fa-sun"></i>
            Acapulco Branch Office - Hospital Veterinary
        </h4>
    </div>
</div>

@code {
    private Credentials credentials = new Credentials();

    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(credentials);
        editContext.SetFieldCssClassProvider(new CssExtensions());
    }

    private async Task HandleSignIn()
    {
        var result = await authService.SignInAsync(credentials);

        if (result != null)
        {
            navigationManager.NavigateTo("/index");
        }
    }
}
