@page "/"
@inject IAuthService authService
@inject NavigationManager navigationManager

<div class="row">
    <div class="large-hight">
        <h2 class="text-center">Authenticate</h2>
        <EditForm Model="credentials" OnValidSubmit="HandleSignIn">
            <div class="box small-width">
                <div>
                    <label for="employee_number" class="form-label">Employee Number</label>
                    <InputText type="text" placeholder="5513909810" class="form-input" id="employee_number"
                        @bind-Value="credentials.EmployeeNumber" />
                </div>
                <div>
                    <label for="password" class="form-label">Password</label>
                    <InputText type="password" placeholder="secret" class="form-input" id="password"
                        @bind-Value="credentials.Password" />
                </div>
                <div class="content-center middle-width">
                    <button type="submit" class="form-button dark-background white-text">Submit</button>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="front-background small-padding">
        <h2><i class="fas fa-paw"></i>
            Welcome again. Don't forget to do a good job
        </h2>
        <h4><i class="fas fa-sun"></i>
            Acapulco Branch Office - Hospital Veterinary
        </h4>
    </div>
</div>

@code {
    private Credentials credentials = new Credentials();

    private async Task HandleSignIn()
    {
        var result = await authService.SignInAsync(credentials);

        if (result != null)
        {
            navigationManager.NavigateTo("/index");
        }
    }
}