<div class="row-3 green-background header">
    <div class="text-center">
        <h2><i class="fas fa-cat"></i> Saturn - Acapulco Branch Office</h2>
    </div>
    <div class="header-option text-center">
        <NavLink href="/employee"><i class="fa fa-plus-circle"></i> Create</NavLink>
    </div>
    <div class="header-option text-center">
        <NavLink href="/employees"><i class="fa fa-list"></i> List</NavLink>
    </div>
</div>
