@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

html, body {
    font-family: 'Roboto-Regular';
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c4556;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 5%;
}

/* borders */

.medium-white-border {
    border-radius: 50%;
    border: 4px solid white;
}

/* measures */

.small-margin-top {
    margin-top: 3%;
}

.tiny-width {
    width: 0%;
}

.small-width {
    width: 80%;
}

.middle-width {
    width: 50%;
}

.small-padding {
    padding: 5%;
}

.middle-padding {
    padding: 10%;
}

.large-width {
    width: 100%;
}

.large-hight {
    height: 100vh;
}

.small-text {
    font-size: 100%;
}

.large-title {
    font-size: 500%;
}

.small-uniform-square {
    width: 30%;
    height: 50%;
}

.medium-uniform-polygon {
    width: 30%;
    height: 95%;
}

.tiny-uniform-polygon {
    width: 15%;
    height: 100%;
}

/* forms */

.form-file {
    color: white;
    font-size: 90%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;
    border-radius: 0.2rem;
    border: none;
    width: 90%;
    display: block;
    border: 2px solid #F0B27A;
    transition: all 0.3s;
}

.form-file:hover {
    color: white;
    font-size: 90%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;
    border-radius: 0.2rem;
    border: none;
    width: 90%;
    display: block;
    border: 2px solid #F0B27A;
    transition: all 0.3s;
    background-color: #F0B27A;
}

.form-input {
    color: #333;
    font-size: 90%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
}

.form-input-small {
    color: #333;
    font-size: 90%;
    margin-bottom: 5%;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 45%;
    display: inline;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
}

.form-label {
    font-size: 90%;
    margin-bottom: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.label-text {
    font-size: 90%;
    margin-bottom: 0.7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #16A085;
}

.form-button {
    border: 2px solid #F0B27A;
    border-radius: 0.2rem;
    padding: 00.5rem;
    transition: 1s;
    width: 100%;
}

.form-button-danger {
    border-radius: 0.2rem;
    padding: 00.5rem;
    transition: 1s;
    width: 100%;
    color: white;
    border: 2px solid #F39C12;
    background-color: #F39C12;
}

.form-button:hover {
    background-color: #F0B27A;
    transition: 1s;
}

.form-button-danger:hover {
    border: 2px solid #B03A2E;
    background-color: #B03A2E;
    transition: 1s;
}

.custom-error {
    border: 5px solid #E74C3C;
}

.custom-success {
    border: 5px solid #76D7C4;
}

/* containers */

.navigation {
    background-color: #2e4053;
    height: calc(100% - 5%);
    overflow-y: auto;
}

.navigation a.no-style {
    text-align: center;
}

.navigation a.no-style:hover {
    text-align: center;
}

.navigation a {
    text-align: right;
    margin-right: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
    border-bottom: 2px solid #F0B27A;
    padding-bottom: 5%;
    transition: 1s;
}

.navigation a:hover {
    text-align: right;
    margin-right: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
    border-bottom: 2px solid #85929E;
    padding-bottom: 5%;
    transition: 1s;
}

.box {
    background-color: #2e4053;
    border-radius: 20px;
    border-left: 7px solid #F0B27A;
    padding: 16px;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
}

.box-2 {
    background-color: #2e4053;
    border-radius: 20px;
    border-left: 7px solid #F0B27A;
    padding: 16px;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
}

.box-3 {
    background-color: #2e4053;
    padding: 16px;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
}

.box-error {
    background-color: #CD6155;
    border-radius: 20px;
    border-left: 7px solid #922B21;
    padding: 16px;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
}

.box-error:hover {
    background-color: #D98880;
    border-radius: 20px;
    border-left: 7px solid #922B21;
    padding: 16px;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 100%;
    margin: 0;
    padding: 0.3rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header-option {
    font-size: 120%;
    transition: 1s;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
}

.header-option:hover {
    background-color: #2e4053;
    transition: 1s;
}

/* tables */

.fl-table {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 1%;
}

.fl-table tr:nth-child(even) {
    background: #34495E;
}

/* aligns */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.content-center {
    margin-left: auto;
    margin-right: auto;
}

.bottom-right-corner {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.top-left-corner {
    position: absolute;
    left: 3%;
    top: 0px;
}

.border-bottom-tiny {
    border-bottom: 1px solid white;
}

.padding-bottom-tiny {
    padding-bottom: 5%;
}

/* colors */

.green-border {
    border: 2px solid #52c858;
}

.dark-background {
    background-color: #2e4053;
}

.green-background {
    background-color: #F0B27A;
}

.background-index {
    background-image: url(../images/background-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.white-text {
    color: white;
}

.invisible {
    opacity: 0;
}

/* Grid */

.row {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 100vh;
}

.row-2 {
    display: grid;
    grid-template-columns: 50% auto;
}

.row-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media screen and (max-width: 1500px) {
    h2 {
        font-size: 100%;
    }

    .header-option {
        font-size: 100%;
    }

    .navigation a {
        border-bottom: 2px solid #F0B27A;
    }

    #auth-form {
        font-size: 80%;
    }
}

/* animations */

@-webkit-keyframes scaleAnimation {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
@keyframes scaleAnimation {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
@-webkit-keyframes drawCircle {
    0% {
      stroke-dashoffset: 151px;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
@keyframes drawCircle {
    0% {
      stroke-dashoffset: 151px;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
@-webkit-keyframes drawCheck {
    0% {
      stroke-dashoffset: 36px;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
@keyframes drawCheck {
    0% {
      stroke-dashoffset: 36px;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
#successAnimationCircle {
    stroke-dasharray: 151px 151px;
    stroke: #F0B27A;
}

#successAnimationCheck {
    stroke-dasharray: 36px 36px;
    stroke: #F0B27A;
}

#successAnimationResult {
    fill: #F0B27A;
    opacity: 0;
}

#successAnimation.animated {
    -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
            animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
    -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
            animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
    -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
            animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
    -webkit-animation: 0.3s linear 0.9s both fadeIn;
            animation: 0.3s linear 0.9s both fadeIn;
}